<div class="mt-4 card card-block mx-auto" *ngIf="!loadedInfoPatient" style="max-width: 40rem !important;">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12 center-elements">
                <div>
                    <i class="fa fa-spinner fa-spin fa-fw"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{{step}}
<div class="mt-4 card card-block mx-auto" *ngIf="loadedInfoPatient && (step!='1')"
    style="max-width: 40rem !important;">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12 ">
                <div *ngIf="!loadedInfoPatient">
                    <i class="fa fa-spinner fa-spin fa-fw"></i>
                </div>
                <div *ngIf="loadedInfoPatient">
                    <div *ngIf="step!='1'"
                        class="justify-content-center align-items-center text-left">
                        <div *ngIf="step=='1'">
                            <h2 class="content-header mb-3 mt-0" style="font-weight: 600;">{{'homeraito.p1title' | translate }}</h2>
                            <p class="text-muted">
                                {{'homeraito.p1' | translate }}
                            </p>
                            <!--<p class="text-muted">
                                {{'homeraito.p1.1' | translate }}
                            </p>-->
                            <div class="center-elements mt-1">
                                <button class="btn btn-dark" style="width: 100px;" (click)="question3();">{{'generics.Next' |
                                    translate }}</button>
                            </div>
                        </div>
                        <div *ngIf="step=='3'">
                            <h2 class="content-header mt-0" style="font-weight: 600;">{{'war.What is their location' | translate }}</h2>
                                        <p class="mb-2">{{'war.location2' | translate }}</p>
                                        <p *ngIf="basicInfoPatient.lat==''" class="mb-2" [innerHTML]="'war.optionalLocation' | translate "></p>
                                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"  (mapReady)="mapReadyHandler($event)">
                                            <agm-marker *ngIf="showMarker && basicInfoPatient.lat!=''" [latitude]="basicInfoPatient.lat" [longitude]="basicInfoPatient.lng" [title]="'Pickup Location'"></agm-marker>
                                        </agm-map>
                                        <a *ngIf="showMarker && basicInfoPatient.lat!=''" class="mt-2 btn btn-primary" (click)="deletelocation()">{{'war.nosharelocation' | translate }}</a>
                                        
                                    <div class="center-elements mt-3">
                                        <span *ngIf="!sending">
                                            <button class="btn btn-primary mr-1 mb-0"
                                          (click)="step='2'">{{'generics.Previous' | translate }}</button>
                                          <button class="ml-1 btn btn-dark mb-0" (click)="onSubmit();">
                                            {{'wizard.btn' | translate }}</button>
                                        </span>
                                        <span *ngIf="sending">
                                            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                                        </span>
                                    </div>
                        </div>
                        <div *ngIf="step=='4'">
                            <p>{{'homeraito.t1.1' | translate }}</p>
                            <div class="center-elements">
                                <button class="btn btn-primary mr-1"
                                    (click)="step='0'">{{'generics.Previous' | translate }}</button>
                                <button class="btn btn-dark ml-1" (click)="goStep('1');setPatientGroup('None');">{{'wizard.btn' | translate
                                    }}</button>
                            </div>
                        </div>
                        <div *ngIf="step=='5'" class="text-left">
                            <div class="form-group mb-3 mt-0">
                                <div class="">
                                    <h2 class="content-header mt-0" style="font-weight: 600;">{{'war.titleneedAssistance' | translate }}</h2>
                                     <p class="mb-0"><span [innerHTML]="'war.titleneeds' | translate "></span></p>
                                </div>
                            </div>
                            <div class="form-group mb-3 mt-3">
                                <div class="">
                                    <p class="mb-1 text-bold-500">{{'war.needAssistance' | translate }}</p>
                                    <textarea [autosize]="true" name="needAssistance" [(ngModel)]="basicInfoPatient.needAssistance"
                                        placeholder="{{'war.needAssistance' | translate }}" ngModel required #needAssistance="ngModel"
                                        class="form-control mb-3"></textarea>
                                </div>
                            </div>
                            <div class="center-elements mt-3">
                                <span class="danger d-block mb-2" *ngIf="!saving && basicInfoPatient.drugs.length==0 && basicInfoPatient.needAssistance == ''">{{'war.mandatoryfields' | translate }}</span>
                                <button class="btn btn-primary mr-1 mb-0"
                                    (click)="step='3'">{{'generics.Previous' | translate }}</button>
                                    <button *ngIf="saving" [disabled]="saving" class="btn btn-dark ml-1 mb-0" (click)="setNeeds();">{{'generics.Please wait' | translate}} <i class="fa fa-spinner fa-spin fa-fw"></i></button>
                                <button *ngIf="!saving" class="btn btn-dark ml-1 mb-0" [disabled]="basicInfoPatient.drugs.length==0 && basicInfoPatient.needAssistance == ''" (click)="setNeeds();">{{'generics.Finish' | translate
                                    }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="" *ngIf="loadedInfoPatient && step=='1'">
    <div class="mx-auto" style="max-width: 40rem !important;">
        <div class="card" *ngIf="tasksLoaded">
            <div class="card-block p-1">
                <div class="p-2">
                    <h4 class="text-bold-500 mb-0">{{'topnavbar.Notifications' | translate }}</h4>
                </div>
                <div class="pl-2 pr-2 pb-2" style="line-height: 1.2em;">
                     <!--One notification-->
                     <div class="row font-small-3 mb-1" *ngIf="!checks.check1">
                        <div class="col-1 pr-0">
                            <em class="fas fa-info-circle"></em>
                        </div>
                        <div class="col-7 pl-2 pr-0">
                            <p class="">{{'charts.noti1a' | translate }}</p>
                        </div>
                        <div class="col-4">
                            <a class="btn btn-white btn-sm w-100" style="word-wrap: normal;" (click)="setCheck1(true)">
                                <span class="">
                                    Ok
                                </span>
                              </a>
                        </div>
                    </div>
                    <div class="row font-small-3 mb-1" *ngIf="!checks.check2">
                        <div class="col-1 pr-0">
                            <em class="fas fa-info-circle"></em>
                        </div>
                        <div class="col-7 pl-2 pr-0">
                            <p class="">{{'charts.noti2a' | translate }}</p>
                        </div>
                        <div class="col-4">
                            <a class="btn btn-white btn-sm w-100" style="word-wrap: normal;" (click)="setCheck2(true)">
                                <span class="">
                                    Ok
                                </span>
                              </a>
                        </div>
                    </div>
                    <div class="row font-small-3 mb-2">
                        <div class="col-1 pr-0">
                            <em class="fas fa-info-circle"></em>
                        </div>
                        <div class="col-7 pl-2 pr-0">
                            <p class="">{{'war.The status of your profile is' | translate }}</p>
                        </div>
                        <div class="col-4">
                            <span *ngIf="basicInfoPatient.status == null || basicInfoPatient.status == 'new'" class="badge badge-custom">{{'war.status.opt1' | translate }}</span>
                            <span *ngIf="basicInfoPatient.status == 'contacted'" class="badge badge-custom">{{'war.status.opt2' | translate }}</span>
                            <span *ngIf="basicInfoPatient.status == 'pending'" class="badge badge-custom">{{'war.status.opt3' | translate }}</span>
                            <span *ngIf="basicInfoPatient.status == 'ontheway'" class="badge badge-custom">{{'war.status.opt4' | translate }}</span>
                            <span *ngIf="basicInfoPatient.status == 'contactlost'" class="badge badge-custom">{{'war.status.opt5' | translate }}</span>
                            <span *ngIf="basicInfoPatient.status == 'helped'" class="badge badge-custom">{{'war.status.opt6' | translate }}</span>
                        </div>
                    </div>
                    <!--One notification-->
                    <div class="row font-small-3 mb-1">
                        <div class="col-1 pr-0">
                            <em class="fas fa-info-circle"></em>
                        </div>
                        <div class="col-7 pl-2 pr-0">
                            <p class="">{{'war.titleNoti1' | translate }}</p>
                        </div>
                        <div class="col-4">
                            <a class="btn btn-white btn-sm w-100" style="word-wrap: normal;" routerLink="/pages/support">
                                <span class="">
                                    {{'war.Write email' | translate }}
                                </span>
                              </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" *ngIf="!tasksLoaded">
            <div class="card-block p-4 center-elements">
                <i class="fa fa-spinner fa-spin fa-fw"></i>
            </div>
        </div> 
        <div class="card card-block p-1">
            <div class="">
                <div class="p-2">
                    <h4 class="text-bold-500 mb-0">{{'war.Summary' | translate }}</h4>
                </div>
                <div class="p-2">
                    <form (ngSubmit)="onSubmit()" #f="ngForm">
                        <div class="mt-3">
                            <p class="mb-1 text-bold-500">{{'physicians.Location' | translate }}</p>
                            <p *ngIf="basicInfoPatient.lat!=''" class="mb-1">{{'war.This is where the patient is currently located' | translate }}</p>
                            <p *ngIf="basicInfoPatient.lat==''" class="mb-1" [innerHTML]="'war.optionalLocation' | translate "></p>
                            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"  (mapReady)="mapReadyHandler($event)">
                                <agm-marker *ngIf="showMarker && basicInfoPatient.lat!=''" [latitude]="basicInfoPatient.lat" [longitude]="basicInfoPatient.lng" [title]="'Pickup Location'"></agm-marker>
                            </agm-map>
                            <a *ngIf="showMarker && basicInfoPatient.lat!=''" class="mt-2 btn btn-primary" (click)="deletelocation()">{{'war.nosharelocation' | translate }}</a>
                        </div>
                    </form>
                    <div class="form-group mb-3 mt-5">
                        <div class="">
                            <h2 class="content-header mt-0" style="font-weight: 600;">{{'war.titleneedAssistance' | translate }}</h2>
                            <p class="mb-0"><span [innerHTML]="'war.titleneeds' | translate "></span></p>
                        </div>
                    </div>
                    <div class="form-group mb-3 mt-3">
                        <div class="">
                            <p class="mb-1 text-bold-500">{{'war.needAssistance' | translate }}</p>
                            <textarea [autosize]="true" name="needAssistance" [(ngModel)]="basicInfoPatient.needAssistance"
                                placeholder="{{'war.needAssistance' | translate }}"
                                class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="mt-3">
                                   
                        <div class="center-elements mt-3">
                            <button *ngIf="!saving" class="mt-2 btn btn-dark" (click)="setNeeds2();">{{'generics.Save changes' | translate
                                }}</button>
                                <button *ngIf="saving" class="mt-2 btn btn-dark" [disabled]="saving" (click)="setNeeds2();">{{'generics.Please wait' | translate
                                }} <i class="fa fa-spinner fa-spin fa-fw"></i></button>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>

    </div>


    
    <div class="mx-auto" style="max-width: 40rem !important;">
        <div>
            
        </div>
    </div>

</div>