<div class="row">
	<div class="col-sm-12">
		<div class="content-header">Vista de administración de necesidades</div>
		<p class="content-sub-header">Este panel te permite localizar y hacer seguimiento de las necesidades reportadas por personas afectadas. Puedes exportar los datos para facilitar la colaboración con otras entidades.</p>
	</div>
</div>
<section id="">
	<div class="row">
		
	</div>
</section>
<div class="row" *ngIf="!addedlang && !working">
	<div class="col-sm-6">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Lista detallada
					<div class="float-right">
						<button class="mb-0 btn btn-primary btn-sm"
							(click)="onSubmitExportData()">Descargar datos</button>
						<div class="d-none"><span id="content"></span></div>
					</div>
				</h4>
				<p class="content-sub-header">Esta lista le permite obtener detalles sobre cada caso. Al hacer clic en la chincheta se localizarán en el mapa. Los títulos de las columnas permiten ordenar la tabla.</p>

			</div>
			<div class="center-elements" *ngIf="loadingUsers">
				<div>
					<p class="centerSpinner"><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></p>
				</div>
			</div>
			<div class="mt-2 table-responsive" *ngIf="!loadingUsers && users.length>0">
				<ngx-datatable #myTable class="bootstrap fullscreen" [columnMode]="'flex'" [headerHeight]="50"
					[footerHeight]="50" [rowHeight]="'auto'" [rows]="users" >
					<!--[limit]="20"-->
					<ngx-datatable-column name="Necesidades" prop="formattedNeeds" [flexGrow]="2" [sortable]="true">
						<ng-template let-value="value" ngx-datatable-cell-template let-row="row">
							<div [ngClass]="{'selected-row': selectedRow === row}">
								{{row.formattedNeeds}}
							</div>

						</ng-template>
					</ngx-datatable-column>
				
					<ngx-datatable-column name="Fecha" prop="timestamp" [flexGrow]="2" [sortable]="true">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div [ngClass]="{'selected-row': selectedRow === row}">
                                {{row.timestamp | date: 'long'}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
					<ngx-datatable-column name="Estado" prop="status" [flexGrow]="3"
						[sortable]="true">
						<ng-template let-value="value" ngx-datatable-cell-template let-row="row">
							<div [ngClass]="{'selected-row': selectedRow === row}">
								<select id="status" name="status{{i}}" [(ngModel)]="row.status"
									(change)="fieldStatusChanged(row)">
									<option [ngValue]="null" disabled selected>--{{'generics.Select' | translate }}--
									</option>
									<option value="new">Nuevo</option>
									<option value="contacted">Contactado</option>
									<option value="pending">Pendiente</option>
									<option value="ontheway">En camino</option>
									<option value="contactlost">Contacto perdido</option>
									<option value="helped">Ayudado</option>
								</select>

							</div>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="Acciones" [flexGrow]="1">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div class="btn-group">
                                <button class="btn btn-sm btn-info mr-1" (click)="viewOnMap(row)" title="Ver en mapa">
                                    <i class="fa fa-map-marker"></i>
                                </button>
                                <button class="btn btn-sm btn-primary ml-1" (click)="deleteNeed(row._id)" title="Eliminar">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
				</ngx-datatable>
			</div>
			<div class="card-body table-responsive" *ngIf="!loadingUsers && users.length==0">
				{{'war.No users' | translate }}
			</div>

		</div>
	</div>
	<div class="col-sm-6">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Localización de necesidades</h4>
				<p class="content-sub-header">Esta es la ubicación aproximada de sus usuarios. Haz clic en los pines para ver información detallada.</p>
			</div>
			<div class="card-content">
				<div class="">
					<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
						<agm-marker *ngFor="let request of users; let i = index" 
							[latitude]="request.lat" 
							[longitude]="request.lng"
							(markerClick)="onMarkerClick(request)"
							[openInfoWindow]="true">  <!-- Cambiar a true -->
							<agm-info-window [isOpen]="selectedRow === request">
								<strong>Necesidades:</strong>
								<p class="mb-1 mt-1">{{request.formattedNeeds}}</p>
								<p>Fecha: {{request.timestamp | date: 'long'}}</p>
							</agm-info-window>
						</agm-marker>
					</agm-map>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-12 col-12 form-group" *ngIf="working">
	<div>
		<p class="centerSpinner"><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></p>
	</div>
	<div>{{'generics.Sending' | translate }}...</div>
</div>
